@model Training.Web.Models.UserResponds

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserResponds</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserMessage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
